h1{font-family: "Playfair Display", serif;}
h2{
  font-family: 'Playfair Display', serif;
}


section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.body{
  background-color:#D8BFD8;
}

img{
  margin-right: : 50px;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  object-fit: cover;
}
